Custom session fields along with user_token and access_token

### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cloud](https://www.ory.sh/) project.
- [ ] I have joined the [Ory Community Slack](https://slack.ory.sh).
- [X] I am signed up to the [Ory Security Patch Newsletter](https://ory.us10.list-manage.com/subscribe?u=ffb1a878e4ec6c0ed312a3480&id=f605a41b53).

### Describe your problem

First off, Hydra is very well thought out! The ability to have full control over everything except the core OAuth2 API makes this the only available framework to use in some situations.

One such situation is [SMART on FHIR](http://www.hl7.org/fhir/smart-app-launch/) - a specification for healthcare that extends OAuth2 to provide secure flows from Electronic Health Records to different third-party applications. Note that this issue has already been discussed in this [community thread](https://community.ory.sh/t/custom-fields-in-response-in-additional-oauth-2-access-token-refresh-token-and-id-token/2192), with no resolution.

Again, Hydra is a perfect candidate to implement such a specification. It's just missing one thing - the ability to set arbitrary session data along with `id_token` and `access_token`.

An example of the token response expected from the `/token` endpoint [according to the specification](http://www.hl7.org/fhir/smart-app-launch/#for-example-4):
```
{
  "access_token": "i8hweunweunweofiwweoijewiwe",
  "token_type": "bearer",
  "expires_in": 3600,
  "scope": "patient/Observation.read patient/Patient.read",
  "intent": "client-ui-name",
  "patient":  "123",
  "encounter": "456"
}
```

This is not currently supported by Hydra and throws a `400` error upon accepting a consent request by POSTing to `/oauth2/auth/requests/consent/accept` with additional session attributes:

```
{
  "grant_scope": ["openid", "offline_access"],
  "grant_access_token_audience": ["https://my-audience.com"],
  "remember": true,
  "remember_for": 3600,
  "session": {
    "access_token": {
      "foo": "This field will be available when introspecting the Access Token"
    },
    "id_token": {
      "bar": "This field will be available as a claim in the ID Token"
    },
    "fhirUser": "http://fhirserver.org/Patient/4434",
    "intent": "vaccination-records"
  }
```

### Describe your ideal solution

The [Accept a Consent Request](https://www.ory.sh/hydra/docs/concepts/consent/#accepting-the-consent-flow) API should accept additional parameters in the session object.


### Workarounds or alternatives

Setting the additional attributes within the `id_token` is a workaround, but, the [specification makes it clear](http://www.hl7.org/fhir/smart-app-launch/scopes-and-launch-context/index.html#scopes-for-requesting-identity-data) that the id_token should only be provided if the `openid profile` scopes are used, and the user consents to them.

And in many cases, the user denies access to view their personal data, and the id_token will never be available. However, the app still needs to function, and needs other parameters like "patient", and "intent". The ideal solution would be to allow this in the token response.


### Version

1.10.7

### Additional Context

A screenshot from the [SMART on FHIR specifications page](http://www.hl7.org/fhir/smart-app-launch/#for-example-4). This is the expected token response:

![image](https://user-images.githubusercontent.com/18082719/140986989-6d32fafb-606e-4079-ae82-41a1f5ed4bdc.png)

Again, we use the ORY stack a lot at [Medblocks](https://medblocks.org/), and I thank the team for this wonderful piece of software.


For reference, as per [RFC6749 Section 4.1.4](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.4), additional parameters (example_parameter) are allowed in the response:
```
{
       "access_token":"2YotnFZFEjr1zCsicMWpAA",
       "token_type":"example",
       "expires_in":3600,
       "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA",
       "example_parameter":"example_value"
     }
```

Okta also has an [implementation of SMART on FHIR](https://github.com/oktadev/okta-smartfhir-docs#reference-implementation--standards-used) on their platform.

You're probably looking for the `oauth2.allowed_top_level_claims` config which governs this!

In my opinion the `oauth2.allowed_top_level_claims` does not cover this feature request entirely.

The SMART on FHIR standard requires some additional JSON parameters in the /token response: see [SMART on FHIR 2.0.0 - Scopes and Launch Context](https://build.fhir.org/ig/HL7/smart-app-launch/scopes-and-launch-context.html#launch-context-arrives-with-your-access_token).

As a result I think it would be great if Ory Hydra could accept additional parameters in the session object, when the [Consent Flow is accepted](https://www.ory.sh/docs/hydra/concepts/consent#accepting-the-consent-flow) and return these in the /token response next to the access token, id token, etc. 



You're right, I think this is not supported right now. Such a feature would need to be implemented in Ory Fosite ( https://github.com/ory/fosite ) with the explicit requirement of sending this data as part of SMART - and once integrated there it would need to be added in Ory Hydra's consent management.

If such an effort is started, please start it against this PR to avoid massive merge conflicts https://github.com/ory/hydra/pull/3013

Hey @aeneasr,
Will you be interested in having this feature in Fosite and Hydra?

I've been looking at Fosite's codebase, and I can see a few ways in which this can be added.

Can this Extra parameter in Session be used for storing results that have to be returned in the token response? Is this being used for something else?

Maybe something special like `Extra.TokenExtras` can be used? Otherwise what about adding another object to the Session struct directly like `TokenExtras` of type `map[string]interface{}` `json: "token_extras"` ?
https://github.com/ory/hydra/blob/60b93459a08798f4ed5d57a94653924b83cfd597/oauth2/session.go#L40-L48

Also, if I'm not wrong, there's no need to modify fosite's code here right?

Since we could pass these extra token parameters as just Extra, and return it in the ToMap function

https://github.com/ory/fosite/blob/575ae6d63ed6fd00259fdf273c1e88185cb088f4/access_response.go#L73-L77

Hey @aeneasr, any possibility of accepting this as a feature? Should I start a PR on fosite?

Yes, maybe doing it in Hydra only does the job!